
// DASHBOARD
#sidebar {
    display: flex;
    justify-content: space-between;
}

#sidebar button {
    display: block !important;
}

#sidebar nav {
    display: none;

    padding: 6px;
}    


#content #header {
    box-shadow: none;
}

#content #header #user {
display: none;    
}

#content #status {
    display: block;
}

#content #status .status-box {
    margin-top: 25px !important;
}

#content #status .status-box div:nth-child(2) {
    border-radius: 50px;
}

#charts div {
    margin-top: 15px;
}